<div class="transaction-history-container">
    <h2 class="transaction-history-header">İşlem Geçmişi</h2>

    <div *ngIf="transactions.length > 0; else noTransactions">
        <div class="transaction-grid">
            <div class="grid-header">
                <div>Hesap Numarası</div>
                <div>İşlem Türü</div>
                <div>İşlem Miktarı</div>
                <div>Tarih</div>
                <div>Açıklama</div>
            </div>
            <div *ngFor="let transaction of transactions" class="grid-row">
                <div>{{ transaction.accountID }}</div>
                <div>{{ transaction.transactionTypeName }}</div>
                <div>{{ transaction.transactionAmount.toFixed(2) }} TL</div>
                <div>{{ transaction.transactionDate | date:'dd/MM/yyyy' }}</div>
                <div>{{ transaction.transactionExplanation }}</div>
            </div>
        </div>
    </div>

    <ng-template #noTransactions>
        <p class="no-transactions">İşlem geçmişiniz bulunmamaktadır.</p>
    </ng-template>
</div>
