.transaction-history-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.transaction-history-header {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #333;
}

.transaction-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 sütun */
    gap: 10px;
}

.grid-header {
    display: contents;
    font-weight: bold;
    color: #444;
    text-align: left;
    background-color: #f1f1f1;
    border-bottom: 2px solid #ccc;
    padding: 10px 0;
}

.grid-row {
    display: contents;
    text-align: left;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.grid-row div, .grid-header div {
    padding: 10px;
    border-right: 1px solid #ddd;
}

.grid-row div:last-child, .grid-header div:last-child {
    border-right: none; /* Son sütunda sınır kaldır */
}

.no-transactions {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}