.logo {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 350px;
    height: auto;
}

.container {
    max-width: 400px;
    margin: auto;
    background-color: #ffffff; /*#f8f9fa;*/
    padding: 20px;
    border-radius: 10px;
    padding-top: 120px;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-body-secondary {
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.error-feedback {
    color: #ff0000;
    font-size: 1rem;
}

.title-large {
    font-size: 2rem;
    font-weight: bold;
}

.text-medium {
    font-size: 1rem;
}

.link-medium {
    color: #007bff;
    text-decoration: none;
}

.link-medium:hover {
    text-decoration: underline;
}

.btn-success {
    background-color: #ffd000;
    color: #000;
    font-size: 1.2rem;
}

.btn-success:hover {
    background-color: #ffc300;
}