.deposit-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.deposit-container h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.1rem;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.deposit-button {
    width: 60%;
    padding: 10px 20px;
    background-color: #ffbb00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto; /* butonu ortalar */
}

.deposit-button:hover {
    background-color: #ffae00;
}

.response {
    width: 60%;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff4e6; 
    border: 1px solid #ffdd99; 
    border-radius: 4px;
    color: #cc7a00; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}