.transfer-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.transfer-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.1rem;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.transfer-button {
    width: 60%;
    padding: 10px 20px;
    background: #ffbb00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto; /* butonu ortalar */
}

.transfer-button:hover {
    background: #ffae00;
}

.response {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    background: #fff4e6; 
    border: 1px solid #ffdd99; 
    border-radius: 4px;
    color: #cc7a00;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}