.balance-check-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.balance-check-container h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 40px;
    color: #333;
}

.balance-check-container label {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 5px;
}

.balance-check-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #333;
}

.check-button {
    background-color: #ffbb00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto; /* butonu ortalar */
}

.check-button:hover {
    background-color: #ffae00;
}

.balance-result {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    color: #333;
}