.create-account-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*font-family: Arial, sans-serif;*/
}

.create-account-container h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.create-account-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.create-account-container input,
.create-account-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
}

.create-account-container input:focus,
.create-account-container select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.create-account-container .btn-create {
    width: 60%;
    padding: 10px 20px;
    background-color: #ffbb00; /*#28a745;*/
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto; /* butonu ortalar */
}

.create-account-container .btn-create:hover {
    background-color: #ffae00; /*#218838;*/
}

