.profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.profile-card {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.6;   /* yazıların arası boşluk */
}

.profile-card p {
    margin: 10px 0;
}

.profile-card strong {
    width: 150px;
    margin-right: 5px; /* etiket ile değer arasına mesafe */
}

.profile-card input {
    height: 35px;
    display: inline-block;
    margin-left: 10px; /* input alanı sağa */
    width: auto;
}

.password-update {
    margin-top: 20px; /* yeni şifre daha aşağıya */
}

.password-update label {
    font-size: 1.2em; 
    font-weight: bold; 
    margin-bottom: 5px;
  }

.button-container {
    display: flex;
    gap: 10px;  /* butonlar arasındaki boşluk */
    justify-content: center;
    margin-top: 20px;  /* profil bilgilerinden boşluk bırak */
}

button.btn-update,
button.btn-delete {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-update {
    background-color: #ffbb00; /*#28a745;*/
    /* Yeşil */
    color: white;
}

button.btn-update:hover {
    background-color: #ffae00; /*#218838;*/
}

button.btn-delete {
    background-color: #dc3545;
    color: white;
}

button.btn-delete:hover {
    background-color: #c82333;
}