<div class="withdraw-container">
    <h2>Para Çekme</h2>

    <label for="accountID">Hesap Numarası:</label>
    <select id="accountID" [(ngModel)]="accountData.accountID" class="form-control">
        <option *ngFor="let account of customerAccounts" [value]="account.accountID">
            {{ account.accountID }} - {{ account.accountName }}
        </option>
    </select>

    <label for="amount">Miktar:</label>
    <input id="amount" [(ngModel)]="accountData.amount" class="form-control" type="number" placeholder="Miktar Girin" (input)="onAmountInput($event)" (keydown)="blockInvalidCharacters($event)"/>

    <label for="explanation">Açıklama:</label>
    <input id="explanation" [(ngModel)]="accountData.explanation" class="form-control" type="text" placeholder="Açıklama Girin"/>

    <button (click)="withdraw()" class="withdraw-button">Para Çek</button>

    <div *ngIf="newBalance !== null" class="response">
        <p><strong>Yeni Bakiye:</strong> {{ newBalance.toFixed(2) }} TL</p>
    </div>
</div> 
